body{
    background : $body;
}
#logger {
    height : 250px;
    max-height: 250px;
    & p{
        margin: 0;
    }
}

.battle-stats {
    & p{
        margin : 5px 0;
    }
}
.bar{
    width: 100%;
    height: 8px;
    margin-bottom: 5px;
    display : block;
    &.red{
        background: red;
    }
    &.blue{
        background : blue;
    }
    &.orange{
        background : orange;
    }
}

#skills{
    & li{
        float : left;
    }
}

#logger p{
    margin: 0;
}

.prefix {
    &.flaming {
        color : $hinder;
    }
}

.hinder{
    color : $hinder;
}
.boost{
    color : $boost;
}